/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

/* @tailwind base; */
/* @tailwind components; */
@import "tailwindcss";
@tailwind utilities;

#fade-out {
  position: fixed;
  animation: fadeOut 2s forwards;
}

.error-message {
  @apply text-red-700;
}

.input {
  @apply flex w-2xs border border-blue-200 rounded p-2 mb-2;
}
.form {
  @apply justify-center items-center mt-4 max-w-3xl bg-neutral-900 p-6 rounded-lg shadow-lg text-white;
}

.label {
  @apply flex justify-center mt-2 text-purple-700 font-bold text-2xl;
}

.primary-button {
  @apply flex w-2xs text-center bg-purple-600 text-white py-2 px-4 mb-2 rounded hover:bg-purple-900;
}

.secondary-button {
  @apply flex w-2xs text-center bg-blue-400 text-white py-1 px-2 rounded hover:bg-blue-900;
}

.cancel-button {
  @apply flex w-2xs bg-blue-300 text-black py-2 px-4 rounded hover:bg-blue-400;
}

.danger {
  @apply bg-red-100 border border-red-400 text-red-700 px-4 py-1 rounded;
}
.success {
  @apply bg-green-100 border border-green-400 text-green-700 px-4 py-1 rounded;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.highlight {
  background: purple !important;
}

.resizable {
  resize: horizontal !important;
  display: block !important;
  overflow: hidden !important;
  position: absolute; /* Ou 'relative' selon le besoin */
  z-index: 50; /* Place l'élément au-dessus des autres */
  pointer-events: auto; /* Permet à l'élément d'être interactif */
}
