<div>
  <% contacts.each do |contact| %>
    <div class="flex gap-2 items-center">
      <span><%= contact.nickname %></span>
      <%= button_to "x", remove_contact_users_path(contact_id: contact.id), 
        method: :post,
        class: "border w-6 rounded bg-red-400 hover:bg-red-800 text-white text-center ",
        data: { turbo_frame: "contacts_list" } %>
    </div>
  <% end %>
</div>

