<h1>Index user_controller</h1>

<div>
  <h2>Contact list</h2>

  <% @contacts.each do |contact| %>
    <ul>
      <li>
        <%= contact.nickname %>
      </li>
    </ul>
  <% end %>
</div>


<div>
  <
</div>
