<div class="mt-2">
    <%= form_with url: conversation_send_message_path(current_user.nickname, conversation), 
                  method: :post, 
                  local: false,
                  params: {id: conversation.id},
                  data: { turbo_frame: "conversation" } do |form| %>
      <%= form.text_field :content, name: "content", rows: 1, class: "w-full border rounded p-1 resize-none overflow-y-auto max-h-[4.5rem]" %>
      <%= form.hidden_field :id, value: conversation.id %>
      <%= form.submit "Envoyer", class: "bg-cyan-500 text-white p-2 rounded mt-1" %>
    <% end %>
  </div>
