<% messages ||= @messages %>
<% current_user ||= @current_user || @user %>
<% conversation ||= @conversation %>


<div class="flex flex-col-reverse gap-2 max-h-96 overflow-y-auto">
  <% if messages.any? %>
    <% messages.each do |message| %>
      <% if message.user_id == current_user.id %>
        <div class="flex justify-end" id="moi">
          <div class="bg-blue-500 text-white p-2 rounded max-w-3/4 text-right">
            <%= message.content %>
          </div>
        </div>
      <% else %>
        <div class="flex justify-start" id="toi">
          <div class="bg-gray-200 text-black p-2 rounded max-w-3/4 text-left">
            <%= message.content %>
          </div>
        </div>
      <% end %>
    <% end %> 
  <% end %>
</div>

  
